* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

body {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}


h2 {
    width: 299px;
    height: 40px;
    color: #ffff;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}


input {
    width: 342px;
    border-radius: 14px;
    padding: 10px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255 0.20);
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
   margin-right: 30px;
   color: #fff;

}

button {
    background: #aec346;
    width: 242px;
    height: 62px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5px;
    margin-top: 10px;
    box-shadow: 0px 18px 40px 0px rgba(174, 195, 70, 0.35);
    cursor: pointer;
}

button:hover {
    opacity: 0.4;
}

button:active {
    opacity: 0.8;
}